{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}

{% block body %}
<h1>Personne index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Adresse</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for personne in personnes %}
        <tr>
            <td>{{ personne.id }}</td>
            <td>{{ personne.prenom }}</td>
            <td>{{ personne.nom }}</td>
            <td>{{ personne.email }}</td>
            <td>{{ personne.telephone }}</td>
            <td>{{ personne.adresse }}</td>
            <td>
                <a class="btn bnt-secondary" href="{{ path('personne_show',
                    {'id': personne.id}) }}">show</a>
                <a class="btn bnt-primary" href="{{ path('personne_edit', {'id':
                    personne.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('personne_new') }}">Create new</a>
{% endblock %}
